<header class="header-section index">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-xl nav-shadow" id="#navbar">
          <a class="navbar-brand"> REVIEWERS <span>Hub</span> </a>
          <a
            class="navbar-toggler"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <i class="bi bi-list"></i>
          </a>

          <div class="collapse navbar-collapse ms-auto" id="navbar-content">
            <div class="main-menu index-page">
              <ul class="navbar-nav mb-lg-0 mx-auto">
                <li class="nav-item">
                  <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Explore Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">How It Works</a>
                  </li>
              </ul>
              <div class="nav-right d-none d-xl-block">
                <div class="nav-right__search">
                  <a
                    href="javascript:void(0)"
                    class="nav-right__search-icon btn_theme icon_box btn_bg_white"
                  >
                    <i class="bi bi-search"></i> <span></span>
                  </a>
                  <a  class="btn_theme btn_theme_active"
                    >Connect Wallet <i class="bi bi-arrow-up-right"></i><span></span
                  ></a>
                </div>
                <div class="nav-right__search-inner">
                  <div class="nav-search-inner__form">
                    <form method="POST" id="search" class="inner__form">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"
                          required
                        />
                        <button type="submit" class="search_icon">
                          <i class="bi bi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
