<header class="header-section index">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-xl nav-shadow" id="#navbar">
          <a class="navbar-brand"> REVIEWERS <span>Hub</span> </a>
          <a
            class="navbar-toggler"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <i class="bi bi-list"></i>
          </a>

          <div class="collapse navbar-collapse ms-auto" id="navbar-content">
            <div class="main-menu index-page">
              <ul class="navbar-nav mb-lg-0 mx-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/companies"
                    >Explore Companies</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#faqs">FAQs</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#howitworks">How It Works</a>
                </li>
              </ul>
              <div class="nav-right d-none d-xl-block">
                <div class="nav-right__search">
                  <a
                    href="javascript:void(0)"
                    class="nav-right__search-icon btn_theme icon_box btn_bg_white"
                  >
                    <i class="bi bi-search"></i> <span></span>
                  </a>
                  <a class="btn_theme btn_theme_active"
                    >Connect Wallet <i class="bi bi-arrow-up-right"></i
                    ><span></span
                  ></a>
                </div>
                <div class="nav-right__search-inner">
                  <div class="nav-search-inner__form">
                    <form id="search" class="inner__form">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search company..."
                          required
                        />
                        <button type="button" class="search_icon">
                          <i class="bi bi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Offcanvas More info-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
  <div class="offcanvas-body custom-nevbar">
    <div class="row">
      <div class="col-md-7 col-xl-8">
        <div class="custom-nevbar__left">
          <button
            type="button"
            class="close-icon d-md-none ms-auto"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <i class="bi bi-x"></i>
          </button>
          <ul class="custom-nevbar__nav mb-lg-0">
            <li class="menu_item">
              <a class="menu_link" routerLink="/" data-bs-dismiss="offcanvas"
                >Home</a
              >
            </li>
            <li class="menu_item">
              <a
                class="menu_link"
                routerLink="/companies"
                data-bs-dismiss="offcanvas"
                >Explore Companies</a
              >
            </li>
            <li class="menu_item" data-bs-dismiss="offcanvas">
              <a class="menu_link" href="#about">About Us</a>
            </li>
            <li class="menu_item" data-bs-dismiss="offcanvas">
              <a class="menu_link" href="#faqs">FAQs</a>
            </li>
            <li class="menu_item" data-bs-dismiss="offcanvas">
              <a class="menu_link" href="#howitworks">How It Works</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-xl-4">
        <div class="custom-nevbar__right">
          <div class="custom-nevbar__top d-none d-md-block">
            <button
              type="button"
              class="close-icon ms-auto"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            >
              <i class="bi bi-x"></i>
            </button>
          </div>
          <ul class="custom-nevbar__right-location">
            <li>
              <a class="btn_theme btn_theme_active" data-bs-dismiss="offcanvas"
                >Connect Wallet <i class="bi bi-arrow-up-right"></i><span></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
